/* ================================================= */
/* ESTILOS DA PÁGINA CAPACITACIONES     */
/* ================================================= */

/* --- Hero Section das Páginas de Serviço --- */

/* Imagem de fundo específica para a página de Capacitaciones */
body.page-capacitaciones .hero-section {
    background-image: url('../servicios/img/CAPACITACIONES-imgFUNDO.jpg'); 
      background-position: center 55%;
}

.hero-page-title {
    font-family: var(--heading-font);
    font-size: 4em; /* 64px */
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    margin-bottom: 15px;
}

.hero-divider {
    border: none;
    border-top: 12px solid var(--main-color);
    width: 90%;
    max-width: 1000px;
    /* 15px de margem em cima, 'auto' nos lados (para centralizar), 0 embaixo */
    margin: 15px auto 0;
}


.hero-content h2 {
    font-size: 60px;
    margin-bottom: 0; 
}

/* --- Conteúdo Principal --- */

/* Linha HR LARANJA no final da seção de conteúdo */
.content-divider {
    border: none;
    border-top: 3px solid var(--main-color);
    max-width: 1200px;
    margin: 40px auto; 
}




body.page-capacitaciones .info-block-image  {
    flex: none;
    width: 760px;
    max-width: none;
}

body.page-capacitaciones .info-block {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: center;
    gap: 0; /*Gap é o espaçamento entre 2 elementos*/
    padding: 80px 100px;
    max-width: 12000px;
    margin: 0 auto;
}

.page-capacitaciones .info-block h2{
    font-size: 65px;
}

.page-capacitaciones .info-block p {
    font-size: 25px;
}


.page-capacitaciones .hero-divider {
    border: none;
    border-top: 12px solid rgba(231, 64, 35, 1);
    width: 90%;
    max-width: 1100px;
    margin: 15px auto 0;
}



.capacitaciones-section-full {
    max-width: 1200px;
    margin: 40px auto 80px;
    padding: 0 20px;
}

.capacitacion-full-item {
    display: flex; /* Layout principal em Flexbox */
    align-items: center; 
    margin-bottom: 60px;
    gap: 40px; /* Espaçamento entre imagem e texto */
}

.item-visual {
    flex: 1;
    max-width: 50%;
    
    img {
        width: 100%;
        height: 300px; /* Altura fixa para ser imponente */
        object-fit: cover;
        display: block;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
}

.item-content-full {
    flex: 1;
    max-width: 50%;
    
    h5 {
        font-family: var(--heading-font);
        font-size: 2em;
        color: var(--secondary-color);
        margin-bottom: 15px;
    }

    p {
        line-height: 1.6;
        color: var(--text-color);
    }
}