/* ======================================= */
/* ESTILOS DA PÁGINA CONTACTENOS */
/* ======================================= */

/* Imagem da página Contactenos*/
body.page-contactenos .hero-section{
    background-image: url('../img/contactenosfotoTESTE.JPG');
}

.page-contactenos .hero-content img{
     height: auto;
    width: 300px;
    margin-bottom: 270px;
}


.contact-title {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 3em;
    color: var(--secondary-color);
    padding-top: 60px;
    margin-bottom: 40px;
}

.contact-layout {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto 80px; 
    padding: 0 40px;
    align-items: flex-start;
}

.contact-info-column {
    flex: 1;
    max-width: 450px;
    line-height: 1.6;
}

.contact-detail-heading {
    font-family: var(--heading-font);
    font-size: 1.2em;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 5px;
}

.contact-item {
    font-size: 1.1em;
}

.contact-item i {
    margin-right: 8px;
}

.contact-map-column {
    
    flex: 1.5; 
    width: 100%;
    max-width: 800px; 
    height: 450px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.google-map-iframe {
    /* Faz o iframe preencher totalmente o contêiner */
    width: 100%;
    height: 100%; 
    display: block; /* Remove espaços extras abaixo do iframe */
}






/* ======================================= */
/* ======== ESTILOS RESPONSIVOS ==========  */
/* ======================================= */

@media (max-width: 768px) {

/* ======================================= */
/* RESPONSIVIDADE PÁGINA 'CONTÁCTENOS'   */
/* ======================================= */

/* Ajusta o layout principal da página */
.contact-layout {
    flex-direction: column; 
    padding: 0 20px 40px 20px; 
    gap: 40px; 
    align-items: center;
}

/* Garante que a coluna de informações use o espaço corretamente */
.contact-info-column {
    max-width: 100%;
    text-align: center; 
}

/* Garante que o container do mapa use o espaço corretamente */
.contact-map-column {
    max-width: 100%;
    width: 100%; 
}

.contact-detail-heading {
    font-size: 1.5em;
}
}