@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--body-font);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}