
/* ================================================= */
/* ESTILOS DA PÁGINA PERSONAL BRANDING  */
/* ================================================= */

/* --- Hero Section das Páginas de Serviço --- */

/* Imagem de fundo específica para a página de Capacitaciones */
body.page-personal .hero-section {
    background-image: url('../img/serviciosIMG.jpg'); 
}

.hero-page-title {
    font-family: var(--heading-font);
    font-size: 4em; /* 64px */
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    margin-bottom: 15px;
}

.hero-divider {
    border: none;
    border-top: 12px solid var(--main-color);
    width: 1000px;
    margin: 15px auto 0;
}

.hero-content h2 {
    font-size: 60px;
    margin-bottom: 0; 
}

/* --- Conteúdo Principal --- */

/* HR laranja no final da seção de conteúdo */
.content-divider {
    border: none;
    border-top: 3px solid var(--main-color);
    max-width: 1200px;
    margin: 40px auto; 
}


       

body.page-personal .info-block-image  {
    flex: none;
    width: 400px; 
    max-width: none;
}

body.page-personal .info-block {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: center;
    gap: 50px; 
    padding: 80px 100px;
    max-width: 12000px;
    margin: 0 auto;
}

.page-personal .info-block h2{
    font-size: 60px;
}

.page-personal .info-block p {
    font-size: 25px;
}

.page-personal .hero-divider {
    border: none;
    border-top: 12px solid rgba(231, 64, 35, 1);
    width: 800px;
    margin: 15px auto 0;
}
