/* ======================================= */
/* ======== ESTILOS RESPONSIVOS ==========  */
/* ======================================= */

@media (max-width: 480px) {
    
     .hero-content img {
        max-width: 80%; 
        height: auto;   
        display: block; 
        margin: 0 auto; 
    }

    .hero-content p { 
        font-size: 1.2rem; 
        padding: 0 10px; 
    }

    .hero-content {
        padding: 20px 10px; 
        overflow: hidden; 
    }

    
}
@media (max-width: 768px) {
.hero-content h2 {
    font-size: 2.2em; 
    overflow-wrap: break-word; 
    padding: 0 15px;
}

.hero-content img {
        width: 80%;
        max-width: 350px;
    }

}