/* Estilo da seção que envolve o carrossel */
.clients-section {
    padding: 20px;
    text-align: center;
}

 .clients-section h4 {
    font-family: var(--heading-font);
    font-size: 2.2em;
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-weight: normal;
}

.clients-section span{
    font-weight: bold;
}


/* O container do Swiper (Ajuste a altura para o layout!) */
.clients-swiper {
    // ESSENCIAL: DEFINIR LARGURA E ALTURA PARA O LAYOUT
    width: 90%;
    height: 120px; 
    margin: 0 auto;
}


/* Estilo de cada slide/logo */
.clients-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 300px; 
        height: 70px;
        object-fit: contain;
        opacity: 0.8;
        transition: opacity 0.3s;
        
        &:hover {
            opacity: 1;
        }
    }
}


/*-----------------------------------------------------------------------------*/
/*--------------------------------------------*/
/*-------------*/



/* Carrossel background-image INDEX ( INICIO) */
.hero-bg-swiper {
    position: absolute; // POSICIONA SOBRE A SEÇÃO PAI
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; // Fica no fundo
}

/* 3. Estilo dos Slides */
.hero-bg-swiper .swiper-slide {
    background-size: cover; 
}

.hero-slide-1 { 
    background-image: url('../img/img-inicio.jpg'); 
    background-position: center 33%; 
    // Imagem de cor média: Sombra padrão de 40% (0.4)
    box-shadow: inset 0 0 0 1000px rgba(52, 34, 34, 0.6); 
}

.hero-slide-2 { 
    background-image: url('../img/RECLUTAMIENTOFOTO.jpeg'); 
    background-position: center 33%; 
    // Imagem CLARA: Sombra mais escura (60% ou 0.6) para o texto branco aparecer
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); 
}

.hero-slide-3 { 
    background-image: url('../img/foto-index.JPG'); 
    background-position: center 33%; 
    // Imagem ESCURA: Sombra mais leve (20% ou 0.2)
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); 
}

.hero-slide-4 { 
    background-image: url('../img/galeria/galeria12.jpg'); 
    background-position: center 33%; 
    // Se for uma foto CLARA
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); 
}

.hero-slide-5 { 
    background-image: url('../img/fachadaconsultoria.jpeg'); 
    background-position: center bottom; 
    // Se for uma foto com muitas CORES VIVAS
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); 
}

/* 4. CONTEÚDO DE SOBREPOSIÇÃO (Logo e Slogan) */
.hero-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; // acima do carrossel
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}