@import 'Variables';

@import 'global';

@import 'header';       

@import 'index';

@import 'footer';

@import 'nosotros';

@import 'contactenos';

@import 'servicios';

@import 'capacitaciones';

@import 'clima-cultura';

@import 'reclutamiento';

@import 'personal-branding';

@import 'talleres';

@import 'submenu';

@import 'swiper';

@import 'galeria';